<app-header></app-header>
<div class="row">
  <div class="col-xs-10">
    <div class="form-group">
      <label>Curve Type:</label>
      <div class="form-control">
        <label for="analog" class="radio-inline">
        <input type="radio" id="analog-curve" name="curve-type" value="analog" [(ngModel)]="curveType" checked>
          Analog
        </label>
        <label for="digital" class="radio-inline">
        <input type="radio" id="digital-curve" name="curve-type" value="digital" [(ngModel)]="curveType">
          Digital
        </label>
    </div>
    <div>
      <label>Highest Point Of Load (in KWh)</label>
      <input type="text" [(ngModel)]="highestPointOfLoad" />
      <label>Time at Highest Point Of Load</label>
      <input type="text" [(ngModel)]="timeAthighestPointOfLoad" />
    </div>
    <div>
      <label>Load at the Start of the Business Day (in KWh)</label>
      <input type="text" [(ngModel)]="loadAtStart" />
      <label>Time at the Start of the Business Day</label>
      <input type="text" [(ngModel)]="timeAtStartOfLoad" />
      <label>Time at the End of the Business Day</label>
      <input type="text" [(ngModel)]="timeAtEndOfLoad" />
    </div>
    <div>
      <label>Base Load before Business Closes or after the business closes</label>
      <input type="text" [(ngModel)]="baseLoad" />
    </div>
    <div>
      <label>Lowest Point of the Load (in KWh)</label>
      <input type="text" [(ngModel)]="lowestPointOfLoad"  />
      <label>Time at the Lowest Point</label>
      <input type="text" [(ngModel)]="timeAtLowestPointOfLoad"  />
    </div>
    <div>
      <button
        class="btn btn-primary"
        (click)="onClickGenerateChart()"
        [disabled]="isToDisableGenerateChart()"
      >
        Generate Chart
      </button>
      <button
      class="btn btn-secondary"
      (click)="onClickGenerateDefaultChart()"
    >
      Default Chart
    </button>
    </div>
  </div>
</div>
<div style="width: 80%">
  <canvas baseChart #lineChartCanvas></canvas>
</div>